@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --orange: #ff7c4e;
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgb(15, 31, 28, 0.5);
}

body {
  color: #0f1f1c;
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.none {
  display: none !important;
}
.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container-right {
  padding-left: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
.container-left {
  padding-right: calc(
    (100% - var(--container-width)) / 2 + var(--container-padding)
  );
}
.block {
  height: 200px;
  background-color: aqua;
}

/* Header*/

.header {
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%),
    #204434;
  color: #fff;
  position: relative;
  padding-top: 44px;
  overflow: hidden;
}

.header a {
  color: #fff;
}
.header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;

  background-image: url("/images/header/header-bottom.svg");
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}
.header__row {
  display: flex;
}
.header__content {
  position: relative;
  z-index: 1;
  max-width: 592px;
}
.header__img {
  flex-grow: 1;
  position: relative;
}
.header__img img {
  position: absolute;
  top: -181px;
  right: -87px;
  max-width: unset;
  width: 894px;
  height: 940px;
  pointer-events: none;
}
.header__img::after {
  content: "";
  position: absolute;
  top: -30px;
  right: -50px;
  width: 830px;
  height: 622px;
  background-image: url("/images/header/header-elements.svg");
  pointer-events: none;
}
/* Nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-size: 15px;
  font-weight: 500;
}

.nav__list a {
  position: relative;
}
.nav__list a.active::after,
.nav__list a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 10px;
  bottom: -6px;
  display: block;
  /* width: 35px; */
  height: 4px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
  display: none;
}
.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
  color: var(--orange);
}
.nav__login {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  column-gap: 25px;
}
.nav__toggle {
  display: none;
}
/* logo */

.logo {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}
.logo a {
  color: inherit !important;
}
.logo--footer {
  color: var(--orange);
}

/* Header content */

.header__badge {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  padding: 11px 30px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  margin: 7px;
}
.header__title {
  font-size: 55px;
  margin-bottom: 30px;
}
.header__text {
  margin-bottom: 68px;
  font-size: 25px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
}

/* Destinations*/

.destinations {
  overflow-x: hidden;
  padding: 96px 0 100px;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
}

.destinations__content {
  max-width: 456px;
}
.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__title {
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: 600;
}

.destinations__title span {
  font-size: 30px;
}
.destinations__text {
  margin-bottom: 60px;
  font-size: 25px;
  font-weight: 500;
  color: var(--secondary);
}

/* SLider */
.owl-item {
  display: flex;
  justify-content: center;
}
.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  border-radius: 35px;

  transition: 0.2s ease-in;
}
.slider .center .slider__item {
  width: 380px;
  margin-top: 0;
  height: 456px;
}
.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;

  display: flex;

  align-items: center;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #8b8b8b;
}
.slider__btn--prev {
  left: -27px;
  padding-left: 26px;
  justify-content: flex-start;
}
.slider__btn--next {
  right: -27px;
  padding-right: 26px;
  justify-content: flex-end;
}

/* Customers*/

.customers {
  padding: 100px 0 133px;
}
.customers__row {
  display: flex;

  column-gap: 68px;
}
.customers__img {
  max-width: 478px;
}
.customers__img img {
  border-radius: 60px;
}
.customers__title {
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
}

/* Review */
.review {
  max-width: 490px;
}
.review__client {
  display: flex;
  align-items: center;
  column-gap: 33px;
  margin-bottom: 60px;
}
.review__client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #ff794e;
}

.review__client-desc-name {
  margin-bottom: 10px;
  font-size: 33px;
  font-weight: 500;
}
.review__client-desc-country {
  font-size: 25px;
  color: var(--secondary);
}
.review__text {
  margin-bottom: 30px;
  color: var(--secondary);
  font-weight: 500;
  font-size: 22px;
}

/* CTA */
.cta {
  padding: 100px 0;
}
.cta__plate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 580px;
  padding: 40px 15px;
  background-color: #fff;
  border-radius: 60px;
}
.cta__plate::before,
.cta__plate::after {
  position: absolute;
  content: "";
  width: 63px;
  height: 83px;
}
.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url("/images/cta/cta-el-01.svg");
}
.cta__plate::after {
  top: 74px;
  right: 80px;
  background-image: url("/images/cta/cta-el-02.svg");
}
.cta__title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
}

.cta__text {
  margin-bottom: 60px;
  font-size: 30px;
  color: var(--secondary);
}

/* Subscribe */

.subscribe {
  padding: 35px 0 50px;
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.subscribe__title {
  margin-bottom: 60px;
  max-width: 495px;
  font-size: 55px;
  font-weight: 600;
}

/* Subscribe__form*/
.subscribe-form {
  padding: 12px 15px 12px 46px;
  border-radius: 35px;
  background-color: #fff;
  display: flex;
  column-gap: 20px;
}
.subscribe-form__input {
  font-size: 24px;
  font-weight: 500;
}
.subscribe-form__input::placeholder {
  color: var(--secondary);
}
.subscribe-form__btn {
  display: inline-block;
  padding: 34px 86px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  color: #fff;
  padding: 25px 45px;
  border-radius: 35px;
  font-size: 25px;
  font-weight: 600;
}
.subscribe-form__btn:hover {
  color: rgb(245, 233, 127);
  transition: color 0.2s ease-in;
}

.subscribe-form__btn:active {
  position: relative;
  top: 1px;
}

/*  footer */

.footer {
  padding: 56px 0 74px;
}

.footer a {
  color: var(--secondary);
}

/* Buttons*/

.btn {
  display: inline-block;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  color: #fff !important;
  padding: 25px 45px;
  border-radius: 27px;
  font-size: 20px;
  font-weight: 600;
}
.btn:hover {
  color: rgb(245, 233, 127) !important;
  transition: color 0.2s ease-in;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn--login {
  padding: 13px 44px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 100px;
}
.btn--header {
  padding: 27px 48px;
  font-size: 25px;
}

.btn--subscribe {
  padding: 34px 86px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 35px;
}

/* menu - icon */

.menu-icon-wrapper {
  /*   background: red; */
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Media */

@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
  .container-left {
    padding-right: 15px;
  }
}
@media (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  /*nav*/
  .nav__list--header {
    display: none;
  }

  .nav__login--header {
    display: none;
  }

  .nav {
    column-gap: 50px;
  }

  .nav__list {
    column-gap: 50px;
  }

  .nav__toggle {
    display: block;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;

    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    background: linear-gradient(209deg, #428e5f -17.38%, #112120 78.4%), #204434;
  }

  .nav--mobile .logo {
    font-size: 34px;
  }

  .nav--mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    font-size: 22px;
  }

  .nav--mobile .nav__list a.active::after,
  .nav--mobile .nav__list a:hover::after {
    display: none;
  }

  .nav--mobile .nav__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;

    font-size: 22px;
  }

  .nav--mobile .nav__toggle {
    position: fixed;
    top: 50px;
    right: 50px;
  }
  /* Header*/
  .header__img img {
    right: -256px;
  }
  .header__img::after {
    right: -300px;
  }

  .destinations__slider {
    width: 600px;
  }
  .slider {
    height: 304;
  }
  .slider .slider__item {
    margin-top: 18px;
    width: 223px;
    height: 268px;
  }
  .slider .center .slider__item {
    margin-top: 0;
    width: 253px;
    height: 304px;
  }
}
@media (max-width: 850px) {
  .header {
    padding-top: 20px;
    min-height: unset;
  }
  .header__top {
    margin-bottom: 40px;
  }
  .header__row {
    flex-direction: column;
  }
  .header__img img {
    position: static;
    width: 70%;
    height: auto;
  }
  .header__img::after {
    top: 100px;
    right: 0px;
  }
  .header__title {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .header__text {
    max-width: 400px;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .header__badge {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 8px 20px;
    border-radius: 10px;
  }
  .btn--header {
    border-radius: 18px;
    padding: 20px 30px;
    font-size: 20px;
  }
  .destinations {
    padding: 40px 50px;
  }
  .destinations__row {
    flex-direction: column;
    row-gap: 30px;
  }

  .destinations__slider {
    width: 100%;
  }
  .destinations__title {
    margin-bottom: 10px;
    font-size: 35px;
  }
  .destinations__title span {
    font-size: 20px;
    display: block;
  }
  .destinations__text {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .btn {
    padding: 20px 35px;
    border-radius: 20px;
    font-size: 18px;
  }
  .btn--login {
    padding: 13px 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
  }
  .slider__btn--prev {
    left: -15px;
  }
  .slider__btn--next {
    right: -15px;
  }

  .container-right {
    padding-right: 15px;
  }
  .customers {
    padding: 50px 0 60px;
  }

  .customers__title {
    margin-bottom: 25px;
    font-size: 35px;
  }
  .review__client {
    column-gap: 30px;
    margin-bottom: 20px;
  }
  .review__client-avatar {
    width: 80px;
    height: 80px;
  }
  .review__client-desc-name {
    margin-bottom: 5px;
    font-size: 23px;
  }
  .review__client-desc-country {
    font-size: 18px;
  }
  .review__text {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .review_rating {
    max-width: 200px;
  }
  .customers__img {
    max-width: 300px;
    border-radius: 40px;
  }

  .cta {
    padding: 50px 0;
  }
  .cta__plate {
    min-height: 380px;
    padding: 20px 15px;
    border-radius: 40px;
  }
  .cta__title {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .cta__text {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .subscribe {
    padding: 25px 0 30px;
  }
  .subscribe__title {
    margin-bottom: 30px;
    font-size: 35px;
  }
  .subscribe-form {
    padding: 10px 10px 10px 20px;
    border-radius: 25px;
    column-gap: 10px;
  }
  .subscribe-form__input {
    font-size: 20px;
  }
  .nav__login--footer {
    display: none;
  }
}
@media (max-width: 640px) {
  .customers__row {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  .nav--footer {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}
@media (max-width: 480px) {
  .subscribe-form {
    padding: 10px;
    flex-direction: column;
    row-gap: 10px;
  }
  .subscribe-form__input {
    padding: 15px 0;
    font-size: 18px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 20px;
  }
  .nav__list--footer {
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}
@media (max-width: 460px) {
  .customers__img img {
    max-width: 100%;
  }
  .nav--mobile .nav__toggle {
    top: 15px;
    right: 15px;
  }
  .nav--mobile .nav__list,
  .nav--mobile .nav__login {
    row-gap: 20px;
  }
}
